<ng-container>
   @if (itemData().type === 'default') {
        <a routerLinkActive="bg-blue-400" [routerLink]="itemData().path" 
        class="flex items-end justify-center gap-3 cursor-pointer min-w-44
         py-2 rounded-2xl"
        [routerLinkActiveOptions]="{ exact: true}"
        [ngClass]="{'transition duration-300 ease-in-out hover:bg-blue-400': !isActiveRoute(itemData().path)}"
        >
            <mat-icon aria-hidden="false" aria-label="icon" [fontIcon]="itemData().icon" />
            {{ itemData().title }}
        </a>
   } @else { 

   }
</ng-container>
